<!DOCTYPE html>

<html lang="en">
    <head>
        <title>SteamParty</title>
        <script src="Scripts/jquery-2.0.0.min.js"></script>
        <script src="Scripts/knockout-2.2.1.js"></script>
        <script src="Scripts/knockout.mapping-latest.js"></script>
        <script src="Scripts/bootstrap.js"></script>
        <script src="Scripts/jquery.cookie.js"></script>
        <link href="Content/bootstrap.css" rel="stylesheet" />
        <link href="Content/extra.css" rel="stylesheet" />
        <script type="text/javascript">

            $(document).ready(function () {
                               
                function appViewModel() {
                    var self = this;
                    self.playerToAdd = ko.observable("");
                    self.players = ko.observableArray([]);
                    self.resultData = ko.mapping.fromJSON("");

                    this.addPlayer = function () {
                        if (self.playerToAdd() != "") {
                            $('#loadingPlayer').show();
                            $('.alert').hide();
                            $.getJSON('/player', { steamid: self.playerToAdd() }, function (data) {
                                $('#loadingPlayer').hide();
                                
                                if (data == "null") {
                                    $('#errorUnknownPlayer').show();
                                    return;
                                }
                                
                                var json = JSON.parse(data);

                                if (!json.IsPublic) {
                                    $('#errorPrivateProfile').show();
                                    return;
                                }
                                
                                var player = { SteamId: json.SteamId, DisplayName: json.DisplayName, AvatarUrl32: json.AvatarUrl32 };
                                self.players.push(player);
                                self.playerToAdd("");
                            });
                        }
                    };

                    this.removePlayer = function(player) {
                        self.players.remove(player);
                    };
                    
                    this.getCompare = function () {
                        if (self.players().length < 2) {
                            $('#errorNotEnoughPlayers').show();
                            return;
                        }
                        $('#errorNotEnoughPlayers').hide();
                        $('#loadingCompare').show();
                        var steamIds = [];
                        for (var i = 0; i < self.players().length; i++) {
                            steamIds.push(self.players()[i].SteamId);
                        }
                        $.getJSON('/compare', { steamids: steamIds.join(',') }, function (data) {
                            ko.mapping.fromJSON(data, self.resultData);
                            $("#resultsPane").show();
                            $('#loadingCompare').hide();
                        });
                    };
                }

                var vm = new appViewModel();
                ko.applyBindings(vm);

                $('#donate').popover({ html: true });
                $('#contact').popover({ html: true });
                $('#info').popover({ html: true });
                
                $('#demo').click(function () {
                    vm.playerToAdd('76561197975995523');
                    vm.addPlayer();
                    vm.playerToAdd('76561197962208538');
                    vm.addPlayer();
                    vm.playerToAdd('76561197965572012');
                    vm.addPlayer();
                    return false;
                });
                
            });
            
        </script>
    </head>
    <body>
        <div id="wrap">
            <div class="container">
                <h1>SteamParty</h1>
                <p class="lead">You wanna play with friends but don't know which game you should play?<br/>
                    SteamParty can help by comparing you and your friends' Steam libraries.</p>
                <form class="form-inline" data-bind="submit: addPlayer">
                    
                    <div class="row">
                        <div class="span4">
                            <div class="input-prepend input-append">
                                <span class="add-on"><i class="icon-user"></i></span>
                                <input id="playerToAddId" type="text" class="input-large warning" placeholder="Steam ID or Name" data-bind='value: playerToAdd, valueUpdate: "afterkeydown"' />
                                <button type="submit" class="btn" data-bind="enable: playerToAdd().length > 0">Add</button>
                                @*<button type="submit" id="info" class="btn" data-toggle="popover" data-placement="right" data-title="Accepted formats" data-content="<ul><li>http://steamcommunity.com/id/<strong>yourid</strong></li><li>http://steamcommunity.com/profiles/<strong>yourprofile</strong></li><li><strong>yourid</strong> or <strong>yourprofile</strong> without the url</li></ul>">?</button>*@
                            </div>
                        </div>
                        <div class="span4">
                            <div id="loadingPlayer" style="display: none"><img src="Content/spin.gif"/> Fetching...</div>
                        </div>
                        <div class="span4"><a href="#" id="demo">Add some random players</a></div>
                    </div>
                    
                    <p></p>
                    <div id="errorPrivateProfile" class="alert alert-block" style="display: none">
                        <h4>Private profile</h4>
                        <p>We can't compare this player because its community profile is not set to <strong>public</strong>. Steam dosen't want to tell us what games this player owns.</p>
                        <p>
                            <a class="btn" href="#" onclick="$('#errorPrivateProfile').hide()">Ok</a> <a class="btn btn-info" href="https://support.steampowered.com/kb_article.php?ref=4113-YUDH-6401">How do I change that?</a>
                        </p>
                    </div>
                    <div id="errorUnknownPlayer" class="alert alert-block alert-error" style="display: none">
                        <h4>Unknown player</h4>
                        <p>We weren't able to find this player</p>
                        <p>
                            <a class="btn" href="#" onclick="$('#errorUnknownPlayer').hide()">Ok</a>
                        </p>
                    </div>
                    <div id="errorPlayerAlreadyAdded" class="alert alert-block" style="display: none">
                        <h4>Player already added</h4>
                        <p>This player was already </p>
                        <p>
                            <a class="btn" href="#" onclick="$('#errorPlayerAlreadyAdded').hide()">Ok</a>
                        </p>
                    </div>

                    <table class="table">
                        <tbody data-bind="foreach: players">
                            <tr>
                                <td style="width: 75px; vertical-align: middle"><i class="icon-remove"></i><a href='#' data-bind='click: $root.removePlayer'>Remove</a></td>
                                <td style="width: 50px; vertical-align: middle"><img data-bind="attr: {src: AvatarUrl32 }" /></td>
                                <td style="vertical-align: middle"><span data-bind="text: DisplayName"></span></td>
                            </tr>
                        </tbody>
                    </table>

                </form>

                <div class="row">
                    <div class="span2">
                        <form data-bind="submit: getCompare">
                            <button type="submit" class="btn btn-primary" id="compareBtn" data-loading-text="Working...">Compare</button>
                        </form>
                    </div>
                    <div class="span10">
                        <div id="loadingCompare" style="display: none"><img src="Content/spin.gif"/> Please hold...</div>
                        <div class="alert alert-error" style="display: none" id="errorNotEnoughPlayers"><a class="close" onclick="$('#errorNotEnoughPlayers').hide()" href="#">&times;</a><strong>Whoa there big guy!</strong> Please add at least 2 players to compare</div>
                    </div>
                </div>
        
                <div id="resultsPane" style="display: none">
                    <h2>Games</h2>        
                    <table class="table">
                        <thead>
                            <th>Game</th>
                            <th>Hours played</th>
                            <th>Players</th>
                        </thead>
                        <tbody data-bind="foreach: resultData">
                            <tr>
                                <td><img data-bind="attr:{src: LogoUrl, alt: Name, title: Name}" /></td>
                                <td><span data-bind="text: Playtime"></span></td>
                                <td>
                                    <div data-bind="foreach: Players">
                                        <img data-bind="attr:{src: AvatarUrl64, alt: DisplayName, title: DisplayName}" />
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="push"></div>
        </div>
        
        <footer class="footer">
            <div class="container">
                <p>Coded with love by <a href="http://spacebar.ca">Simon Carpentier</a>.</p>
                <ul class="footer-links">
                    <li><a href="#" id="contact" data-placement="top" data-title="Contact" data-content="Question, suggestion, comments, hate-mail? You can always reach me at <a href='mailto:simon.carpentier@spacebar.ca'>simon.carpentier@spacebar.ca</a>">Contact</a></li>
                    <li class="muted">&middot;</li>
                    <li><a id="donate" data-trigger="click" data-title="Awww you're too kind <3" data-content="Obviously I'm a gamer so <a href='http://steamcommunity.com/id/dubispacebar/'>Steam gifts</a> are really appreciated.<br/>Also feel free to send some bitcoins my way:<br/><small>1NZQqgzDyqZ4HSYUDD4Y46sXkmh7w7RQm8</small>" data-placement="top" href="#">Donate</a></li>
                    <li class="muted">&middot;</li>
                    <li><a href="https://github.com/scarpentier/SteamParty/">Source code</a></li>
                    <li class="muted">&middot;</li>
                    <li><a href="https://github.com/scarpentier/SteamParty/issues?state=open">Issues</a></li>
                    <li class="muted">&middot;</li>
                    <li><a href="https://github.com/scarpentier/SteamParty/commits/master">Changelog</a></li>
                </ul>
            </div>
        </footer>
        <a href="https://github.com/you"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png" alt="Fork me on GitHub"></a>

        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-40922409-1']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </body>
</html>